:root {
  --text-color: #fff;
  --detail-text: rgb(173, 173, 173);
  --background: rgb(22, 1, 27);
  --green: rgb(192, 223, 64);
  --blue: rgb(64, 182, 203);
  --default-character-bg: rgba(64, 182, 203, 0.1);

  /* Colores para las fichas de personajes */
  --character-bg-1: #6c757d; /* Gris oscuro */
  --character-bg-2: #007bff; /* Azul */
  --character-bg-3: #28a745; /* Verde */
  --character-bg-4: #dc3545; /* Rojo */
  --character-bg-5: #ffc107; /* Amarillo */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--text-color);
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto", Arial;
  background-color: var(--background);
  margin: 0 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.max-lines {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes first-animation {
  0% {
    width: 10px;
    transform: rotate(360deg) translateY(-600px);
  }
  100% {
    width: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
