.main-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.grid {
  display: grid;
  grid: auto / repeat(5, 1fr);
  gap: 20px;
}
@media (max-width: 1278px) {
  .grid {
    grid: auto / repeat(4, 1fr);
  }
}
@media (max-width: 1026px) {
  .grid {
    grid: auto / repeat(3, 1fr);
  }
}
@media (max-width: 760px) {
  .grid {
    grid: auto / repeat(2, 1fr);
  }
}
.character {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: var(--default-character-bg);
  padding: 8px;
  max-width: 250px;
  cursor: pointer;
  transition: transform 0.15s;
}
.character:hover {
  transform: scale(1.05);
}
.character-thumbnail {
  margin-bottom: 10px;
}
.character-img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.character-details {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 4px;
}
.character-name {
  font-size: 1rem;
  margin-bottom: 10px;
}
.character-origin,
.character-status {
  color: var(--detail-text);
}

.main-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 40px;
}
.main-home-lside {
  margin-right: 100px;
}
.main-home-title {
  font-size: 3rem;
  text-shadow: -2px 2px 6px var(--green);
  margin-bottom: 16px;
}
.main-home-subtitle {
  font-size: 1.3rem;
  color: var(--detail-text);
}
.main-home-rside {
  margin-left: 100px;
}
.main-home-img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: first-animation 1s;
}

.page-handler {
  position: fixed;
  bottom: 20px;
  opacity: 0.3;
  transition: opacity 0.15s;
}
.page-handler-btt {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border: none;
  padding: 4px;
  margin: 0 6px;
  border-radius: 50%;
  cursor: pointer;
}
.btt i {
  color: var(--blue);
  font-size: 24px;
}
.page-number {
  font-weight: bold;
  margin: 0 20px;
  padding: 4px 10px;
  background-color: rgba(64, 182, 203, 0.4);
  border: 1px solid var(--green);
  border-radius: 4px;
  pointer-events: none;
  user-select: none;
}

.invisible {
  display: none;
}
